html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    display: flex;
    height: 100%;
}
.landingWallpaper {
    background-image: url("../images/landing_img.jpg");
    background-size: cover;
    width: 50%;
    height: 100%;
}
.login {
    background-color: #d1d1ca;
    width: 50%;
    height: 100%;
}
table {
    background-color: #424242;
    color: #eee;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}
td {
    padding: 3px 10px;
    width: 50%;
}
input {
    font-size: 18px;
    padding: 5px;
}
button {
    width: 40%;
    font-size: 20px;
    padding: 2px;
    font-weight: 900;
    cursor: pointer;
}
.main-text {
    text-align: center;
    font-size: 3.5rem;
    color: #7a6d6d;
}
.main-article {
    padding: 0 35px;
}
.main-article > p {
    font-size: 18px;
}
.error-login-msg {
    text-align: center; 
    background-color: #7a6d6d; 
    color: #eb8e53; 
    padding: 5px 0px;
}
.sign-in {
    margin: 70px 0;
    text-align: center;
}
.sign-in > a {
    font-size: 30px;
    font-weight: bold;
    color: #7a6d6d;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    padding: 10px;
}